*{
    margin: 0;
    padding: 0;
}
.blinkit-navbar{
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: white;
    position: sticky;
    top: 0px;
    /* width: 100%; */
    height: 86px;
    z-index: 1000;
    /* flex-wrap: nowrap; */
    box-sizing: border-box;
}
.vertical-line{
    border-left: 1px solid rgb(238, 238, 238);
    height: 100%;
}
.location>p{
    font-size: 13px;
    /* color: rgb(0, 0, 0); */
    font-weight: 400;
    /* clear: both; */
    /* display: inline-block; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* width: auto; */
    /* max-width: 210px; */
    /* text-overflow: ellipsis; */
}
.search-bar{
    background-color: #f8f8f8;
    border-radius:8px;
    border-left: 1px solid rgb(238, 238, 238);
    padding:10px;
    width:40vw;
}
.search-bar>input{
    width:95%;
    border:none;
    background-color:transparent;
}
.search-bar>input:focus{
     outline:none;
}
.my-scrollable-div-1{
    display: flex;
    justify-content:center;
    align-items: center;
    overflow-x:auto;
    width:85vw;
    margin-inline:auto ;
}
.list{
    /* overflow-x:auto; */
    width:100%;
    margin-inline: auto;
    /* white space creates no wrap the content  */
    white-space:nowrap;   
    gap: 10px;
}
.list>div{
    display: inline-block;
    margin:10px;
}
::-webkit-scrollbar{
    /* background-color: aqua; */
    display:none;
}
.my-categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    width:90vw;
    margin-inline: auto;
}
.my-categories>div{
    width:124px; 
    height:181.323px;
    /* flex-wrap: wrap; */
}
.my-categories>div>img{
    width:100%;
    /* height: fit-content; */
    height:181.323px;
}
.my-category-div{
    width:90vw;
    justify-content: center;
    margin-inline: auto;
    margin-top: 20px;
}
.my-card{
    width:190px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px;
    margin-left: 10px;
}
.time-taken{
    font-size:9px;
    font-weight: 700;
    color:rgb(54,54,54);
    width: fit-content;
    padding:1px 3px;
    /* gap: 10px; */
}
.product-name{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    /* line-height: 18px; */
    width: 100%;
    /* height: 36px; */
    margin-top: 6px;
    margin-bottom: 0px;
}
.product-weight{
    color:#666666;
    margin-bottom: 11px;

}
.product-price{
    color: rgb(31,31,31);
    font-size: 13px;
    font-weight: 600;
    position: relative;
}
.product-btn{
    border:1px solid green;
    background-color: rgb(247 255 249);
    /* padding: 2px 8px; */
    width:66px;
    padding: 5px 10px;
    border-radius: 0.375rem;
    font-size: 13px;
    font-weight: 600;
    color: rgb(49 134 22 );
    text-transform:uppercase ;
    margin-top: 15px;
}
.product-discount{
    text-decoration: line-through;
    position: absolute;
    bottom: 10px;
    color:grey;
    font-weight: 500;
    font-size: 12px;
}
.off{
    background-color: rgb(83,140,238);
    position: absolute;
    top:0;
    left:10;
    padding:2px 4px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 9px;
    text-align: center;
    z-index: 20;
    border-bottom:1px groove black;
}
.my-category-row{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    white-space:nowrap;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.my-footer{
   display: flex;
   flex-direction: column;
   margin-inline: auto;
   width:90vw;
}
.row-3{
    color:#666666;
    font-size: 16px;
    padding:10px;
    text-align: justify;
}
.row-2{
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.row-2-col-3{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.row-2-col-1{
    width:30vw;
}
.row-2-col-2{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.row-2-col-2>button{
     width:100px;
     height: 30px;
    color:white;
    border-radius: 10px;
    border: none;
    background-color:#213b50;
    margin-inline:5px;

}
.row-2-col-3{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.row-2-col-3>a{
    border-radius: 50%;
    background-color:black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items:center; 
    text-decoration:none;
    margin:5px;
}
.row-1{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}
td{
    padding:3px 20px;
    color:#666666;
    font-size: 16px;
    /* text-align: center; */
    cursor: pointer;
}
tr>th{
    /* text-align: center; */
}
.table-2{
    flex:4;
}
.table-1{
    flex:2;
}
.see-all{
    padding-left: 16px;
    color: rgb(12, 131, 31);
    font-size: 20px;
    text-decoration: none;
}
.see-all:hover{
    color: red;
    text-decoration: none;
}
@media screen and(max-width:1243px) {
    .blinkit-navbar{
        width:100vw;
        margin-inline:auto ;
    }
    /* .my-hero-section-1{
        width: 90vw;
        margin-inline:auto ;

    }
    .my-hero-section-1>img{
        width: 90%;
        padding:auto ;
    }
    .my-scrollable-div-1{
        width: 100%;
        margin-inline:auto ;
    } */
}